* {
  margin: 0;
}

.container {
  background-image: linear-gradient(
    to right,
    rgb(4, 183, 187),
    rgb(4, 184, 183),
    rgb(4, 184, 181),
    rgb(4, 185, 176),
    rgb(4, 186, 171),
    rgb(4, 188, 156),
    rgb(4, 189, 158),
    rgb(4, 190, 150),
    rgb(5, 191, 136),
    rgb(5, 192, 131),
    rgb(6, 192, 128)
  );
  height: 600px;
  width: 90%;
  border-radius: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
